<html>
    <head>
        <title>
            Buy and sell near you..!! It's that simple. :-)
        </title>
        <link rel="shortcut icon" href="S.png">
        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/semantic-ui/2.2.13/semantic.css">
        <link rel="stylesheet" href="style1.css">
    </head>
    <body>
            <div class="ui inverted segment">
                    <div class="ui inverted secondary menu">
                        <div class="header item">
                            <strong>SellX</strong>
                        </div>  
                        <a class="item" href="/">
                            <i class="Home icon"></i>
                            Home
                        </a> 
                        <a class="item">
                            <i class="Mail icon"></i>
                            Messages
                        </a>
                        <div class="right menu">
                            <div class="ui action input">
                                <input type="text" placeholder="Enter Keyword">
                                <div class="ui button"><i class="Search icon"></i>Search</div>
                            </div>
                            <a class="item"><i class="Add User icon"></i>Sign Up</a>
                            <a class="item"><i class="Sign In icon"></i>Log In</a>
                        </div>
                    </div>
                </div>
        <div class="forms">
            <form class="ui form" method="POST">
                    <div class="field">
                            
                        <label for = "Category">Category:</label>
                        <select name="category" id="cata">
                            <option value="Electronics">Electronics</option>
                            <option value="Mobiles">Mobiles</option>
                            <option value="Stationary">Stationary</option>
                            <option value="Books">Books</option>
                            <option value="Automobiles">Automobiles</option>
                            <option value="Wearables">Wearables</option>
                            <option value="Sport Items">Sport Items</option>

                        </select>
                        

                    </div>
                    <div class="field">
                            <label for="Brand">Brand:</label>
                            <textarea name="Brand" id="" cols="20" rows="2"></textarea>


                    </div>  

                    <div class="field">
                        <label for="Images">Images:</label>
                        <input type="file" name="filename" accept="image/gif, image/jpeg, image/png">
                    </div>
                    <div class="field">
                        <label for="Age">Age:</label>
                        <input type="text" name="Age" id="age" placeholder="Input in years(approx.)">
                    </div>
                    <div class="field">
                        <label for="Warranty">Warranty:
                            <input type="checkbox" name="Warranty" >
                        </label>

                        
                    </div>
                    <div class="field">
                        <label for="Price">Price:</label>
                        <input type="text" name="Price" >
                    </div>
                     <div class="field">
                         <input type="Submit" name="submit" value="Submit" class="ui button inverted">
                     </div>



    </body>
</html>