<html>
    <head>
        <title>
            SellX - The biggest community to buy and sell
        </title>
        <link rel="shortcut icon" href="S.png">
        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/semantic-ui/2.2.13/semantic.css">
        <link rel="stylesheet" href="styles.css">
    </head>
    <body>
        <div class="ui inverted segment">
            <div class="ui inverted secondary menu">
                <div class="header item">
                    <strong>SellX</strong>
                </div>  
                <a class="item" href="/">
                    <i class="Home icon"></i>
                    Home
                </a> 
                <a class="item">
                    <i class="Mail icon"></i>
                    Messages
                </a>
                <div class="right menu">
                    <div class="ui action input">
                        <input type="text" placeholder="Enter Keyword">
                        <div class="ui button"><i class="Search icon"></i>Search</div>
                    </div>
                    <a class="item">Welcome <%= user.first_name%></a>
                    <a class="item"><i class="Sign Out icon"></i>Log Out</a>
                </div>
            </div>
        </div>
        <div class="ui box">
            
        </div>